$pixelSize: 1rem;

@mixin box-sizing ($type: border-box ){
	-webkit-box-sizing: $type;
	-moz-box-sizing: $type;
	box-sizing: $type;
}

body{
	margin: 0;
	padding: 0;

	div.container{
		@include box-sizing;
		height: 100vh;
		width: 100vw;
		padding: 1rem;
		
		div.canvas{
  			font-size: 0;
			height: 100%;
			width: 100%;
			text-align: center;
			border: #000 dotted 1px;
			position: relative;

			div.snake, div.apple{
				@include box-sizing;
				position: absolute;
				background-color: #000;
				height: $pixelSize;
				width: $pixelSize;
				border: #FFF solid 1px;
			}
		}
	}
}